

# Ignore node_modules directories
node_modules/
E-COMMERCE/backend/node_modules/
E-COMMERCE/frontend/node_modules/

# Ignore Git ignore files
.gitignore
E-COMMERCE/backend/.gitignore
E-COMMERCE/frontend/.gitignore

# Ignore specific files
impdata.txt
.gitignore